@media screen and (min-width: 38rem) {
  /* HEADER  */
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  /* LOGO AND COMPANY NAME */
  .logo {
    width: auto;
  }
  .hamburger {
    display: none;
  }

  /* NAVIGATION ICON */
  .nav-toggle {
    display: none;
  }

  .nav {
    display: block;
    width: auto;
    order: 0;
  }

  .navigation ul {
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  #nav-bar {
    display: block;
  }
  /* COMPANY CARD */
  #directory.grid {
    grid-template-columns: repeat(2, 1fr);
  }
  /* LIST DISPLAY  */
  #directory.list .company-card {
    flex-direction: row;
    align-items: stretch;
  }
  #directory.list .card-image {
    width: 220px;
    height: auto;
    flex-shrink: 0;
    margin: 1rem;
    border-radius: 8px;
  }
}

@media screen and (min-width: 64rem) {
  #directory.grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
